body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

p {
    line-height: 1.5;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
}

h2,
h3 {
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    font-variant-ligatures: no-common-ligatures;
    /* text-align: center; */
}